<!DOCTYPE html>

<html lang="ja">
    <head>
          <meta http-equiv="content-type" content="text/html; charset=UTF-8">
          <title><%= title %></title>
          <script src="https://code.jquery.com/jquery.min.js"></script>
          <link rel='stylesheet' href='/stylesheets/style.css' />

    </head>

    <body>
        <head>
          <h1><%= title %></h1>
        </head>
        <div role="main">
            <table>
                <% for (let i in content) { %>
                <tr>
                    <% let obj = content[i]; %>
                    <th><%= obj.id %></th>
                    <th><%= obj.name %></th>
                    <th><%= obj.age %></th>
                    <th><%= obj.born %></th>
                </tr>
                <% } %> 
            </table>
        </div>
    </body>
</html>